      <li> 
        <%= photos_form.label :description %>
        <%= photos_form.text_field :description %>
      </li>
			  <div class="field">
					add an image....
					<%= photos_form.file_field :image %>
				</div>


