<div class="newtripform">
<h1>Share an experience!</h1>

<%= render 'form', trip: @trip %>

<!--<= render 'photos/form', photo: @photo  %>-->

<button class="fancy radius button"><%= link_to 'Back', trips_path %></button>
</div>
