<h1>Show honeyyy!!!</h1>

<p>
<%= @trip.city %>
</p>

<h4>photos</h4>
	<p>
<!--FIXME		<=image_tag(@trip.photos,  :height => 150, :crop => :fill) %>-->
	</p>

		
<%= render @trip.photos %>


<!--<= link_to 'Edit', edit_trip_path(@trip) %> |-->
<% if current_user.id == @trip.user_id %>
<%= link_to 'Back', trips_path %>
<% else %>
<%= link_to 'Back', trips_explore_path %>
<% end %>