<h1>Wanderlust List</h1>

<% if user_signed_in? %>
	<div>
		<a><%= link_to 'Your Wanderlust List', trips_path %></a>
		<a><%= link_to 'Start Exploring', trips_explore_path %></a>
	</div>
<% else %>
	<h4>Sign up.</h4>
	<h4> Share your experiences.</h4>
	<h4>Find inspiration. </h4>
<% end %>



