<h1>Splaaaaasshh Honey!!</h1>
<!--
	< @trips.each do |trip| %>
		<p><= trip.city %></p>
	< end %>
-->

<%= link_to 'Your Wanderlust List', trips_path %> <!--#FIXME-->
<br>
<%= link_to 'Start Exploring', trips_path %>

