<h1>Wanderlust List</h1>

<% if user_signed_in? %>
	<div>
		<a><%= link_to 'Your Wanderlust List', trips_path %></a>
		<a><%= link_to 'Start Exploring', trips_explore_path %></a>
	</div>
<% else %>
<% end %>



