<h1>Splaaaaasshh Honey!!</h1>
<!--
	< @trips.each do |trip| %>
		<p><= trip.city %></p>
	< end %>
-->

<div>
	<a><%= link_to 'Your Wanderlust List', trips_path %></a>
	<a><%= link_to 'Start Exploring', trips_explore_path %></a>
</div>