<h1>Splaaaaasshh Honey!!</h1>
<!--
	< @trips.each do |trip| %>
		<p><= trip.city %></p>
	< end %>
-->


<p><a data-open="loginmodal">LOGIN</a><%= render "loginmodal" %></p>
<p><a data-open="signupmodal">SIGNUP</a><%= render "signupmodal" %></p>



<div>
	<a><%= link_to 'Your Wanderlust List', trips_path %></a>
	<a><%= link_to 'Start Exploring', trips_explore_path %></a>
</div>