<h1>Add a photo:</h1>


<!--
<= form_for([@trip, @trip.photos.build]) do |f| %>
  <p>
    <= f.text_field :photo_url, placeholder: "photo_url" %>
  </p>
  <p>
    <= f.submit %>
  </p>
< end %>
-->



