<H4>PHOTO _photo.html.erb</h4>
<p>

</p>
<!--< @trip.photos.each do |photo| %>-->
<!--	<= link_to 'Edit Photo', edit_trip_photo_path(@trip) %>-->
  <%= image_tag(photo.image_url(:thumb).to_s) %>
  <%= photo.description %>
<!--< end %>-->
<p>
	<% if current_user.id == @trip.user_id %>
  <%= link_to 'Destroy Photo', [photo.trip, photo],
              method: :delete,
              data: { confirm: 'Are you sure?'} %>
	<% end %>
</p>

	
